body {
	margin: 0px;
	width:100%;
	background: url(./fundo.jpg) no-repeat center center fixed;;
	background-size: cover;
	-webkit-background-size: cover; /* SAFARI / CHROME */
	-moz-background-size: cover; /* FIREFOX */
	-ms-background-size: cover; /* IE */
	-o-background-size: cover; /* OPERA */
  	
}
.topo{

}
div .corpo{
	justify-content: center;
}
button{
	margin: 0px 0px;
}

div #footer{
	position:fixed;		/*importante: fixa a div */
bottom:0;		/*importante: posiciona no rodapé */
width:100%;
z-index:2000;		/*importante: coloca a div acima de tudo */

margin:0px;
padding:10px 0;
text-align:center;


}
